<div id="about_page">
	<h1>About</h1>
	<h2>What is Simple Health Tracker</h2>
	<p>It's a really really simple health tracker. There are lots of Apps and the like out there 
		for tracking bits of your health in detail, sleep trackers, diet trackers, exercise trackers
		and drinking trackers; which are great but they take a lot of time to fill in.</p>
	<p>This tool is for keeping a rough track of whether or not this was a good day/ week / month. It's 
		totally subjective, there are no numbers, you know roughly whether you got enough sleep last night,
		whether you did some exercise and whether you had too much to drink. This keeps track of that.</p>
	<h2>Does a good score mean I'm healthy</h2>
	<p>No - a good score just means you've assessed yourself as doing quite well. If your definition of
		"A lot of vegetables" is 1 a day, you'll get a lot of good scores but you probably won't be that healthy(!)</p>
	<h2>How do I get started?</h2>
	<p><a href="/users/sign_up">"Sign up here!</a></p>
</div>
